pre{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
span{
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
font{
    color: #0000ff;
}
td{
    padding: 3px;
}









